[submodule "lab3b"]
	path = lab3b
	url = git@github.com:BYU-CS-260-Winter-2020/lab-3b-grocery-store-EskeletoInd.git
[submodule "nodejs/todo/node-express-vue-todo"]
	path = nodejs/todo/node-express-vue-todo
	url = https://github.com/BYU-CS-260/node-express-vue-todo.git
[submodule "lab4"]
	path = lab4
	url = git@github.com:BYU-CS-260-Winter-2020/lab-4-museum-of-ordinary-objects-EskeletoInd.git
[submodule "authenticating-users"]
	path = authenticating-users
	url = https://github.com/BYU-CS-260/authenticating-users.git
