.search {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.search-bar {
  min-width: 100%;
  display: flex;
  align-items: flex-start;
}

#searchbtn {
  height: 24px;
}

.dropdown {
  padding-right: 20px;
}

.content {
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  flex-grow: 1;
  overflow: auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weatherResults, #forecastResults {
  position: relative;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#weatherResults {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.weatherDetails {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Displaying Weather */

#forecastTable tr {
  border: 1px solid black;
}

#forecastTable th, #forecastTable td {
  border-right: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: #eee;
}

table tr:nth-child(even) {
  background-color: #80ccff;
}

h1 {
  padding-bottom: 20px;
}
