/* For Holding a Hand of Tiles */
.hand {
  display: flex;
  font-size: 0px;
  margin-left: 16px;
}

.hand img, .hand button {
  display: inline-block;
  margin: 0px;
}

/* Tiles within the Hand */
.handInHand {
  font-size: inherit;
  display: flex;
}

/* Called Tiles */
.handCalledContainer {
  margin-left: 0px;
  display: flex;
  justify-content: center;
}

.handCalled {
  width: auto;
  margin-left: 4px;
}

.handCalled img {
  float: left;
}

.calledtile {
  padding-right: 12px;
  transform: rotate(-90deg);
}

/* Container For Winning Tile */
.winningTileContainer {
  margin-left: 10px;
}
