.yakuContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin-top: 16px;
  margin-bottom: 8px;
  width: 75%;
  table-layout: fixed;
}

td {
  padding: 10px;
}

th {
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: #eee;
}

table tr:nth-child(even) {
  background-color: #343a40;
}

td > .hand {
  justify-content: center;
}

.yakuName {
  width: 22%;
}
